/*================================================================================*/
/*================================================================================*/
/*==================================== HOME ======================================*/
/*================================================================================*/
/*================================================================================*/
body {
  background-image: url(images/bg.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-x: hidden;
}

.nav {
  display: none;
}

.iconenav {
  display: none;
}

.topnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-image: url(images/bg.jpg);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: red;
}

.topnav a.active {
  color: #c50404;
}

.logo img {
  width: 60px;
  margin-top: -8px;
}

.topnav-content {
  margin-left: auto;
  width: auto;
  margin-right: 4px;
}

.page1 {
  display: -ms-grid;
  display: grid;
  margin-top: 0;
}

.background {
  width: 100%;
}

.background p {
  font-family: 'Courgette', cursive;
  font-family: 'Great Vibes', cursive;
  color: #f2f2f2;
  font-size: 100px;
  position: absolute;
  top: 20px;
  margin-top: 20%;
  margin-left: 5%;
  opacity: 50%;
}

.video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin-top: -1%;
  margin-bottom: 16vh;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container h1 {
  color: silver;
  font-size: 80px;
  font-family: 'Parisienne', cursive;
  text-align: center;
  margin-bottom: 16vh;
}

.container p {
  color: white;
  font-size: 80px;
  font-family: 'Parisienne', cursive;
  text-align: center;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 88vw;
  margin: 0px 73px;
  margin-bottom: 10vh;
}

.center-content p {
  font-size: 20px;
  text-align: center;
  text-indent: 20px;
}

.avantage {
  text-align: center;
}

.avantage p {
  text-indent: 10px;
  font-size: 1.8em;
  color: red;
}

.parag p {
  width: 300px;
  color: white;
  font-size: 1.3em;
}

.av1 {
  position: relative;
  height: 90px;
  width: 90px;
  background: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-bottom: 60px;
  margin-left: 106px;
  text-indent: 20px;
}

.av1:hover {
  background: #b31f1f;
}

.av1:hover a {
  color: white;
}

.av1 a {
  position: absolute;
  margin-top: 35%;
  margin-left: -68%;
  color: black;
  font-size: 45px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/*=======================================================*/
/*=======================================================*/
.rec {
  margin-top: -17vh;
  background-image: url(images/bgimg.png);
  text-align: center;
}

.rec h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: 'Parisienne', cursive;
  font-family: 'Unna', serif;
  font-size: 3em;
  margin-top: 10vh;
}

.rec h1:before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 6px solid;
  margin: auto;
  margin-right: 12px;
}

.rec h1:after {
  margin-left: 12px;
}

h1:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 6px solid;
  margin: auto;
}

.recommended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 14vh;
}

.figure1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}

.figure1:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.3;
}

.figure1:hover .buy-box {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.figure1 img {
  border-radius: 10px;
}

.buy-box {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 48%;
  left: 44%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  background-color: #770000;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

/*================================================================================*/
/*================================================================================*/
/*==================================== Gallery ======================================*/
/*================================================================================*/
/*================================================================================*/
.page2 {
  background-image: url(images/bg.jpg);
  -o-object-fit: cover;
     object-fit: cover;
}

.cont {
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.titre a {
  text-decoration: none;
  font-family: 'Jockey One', sans-serif;
  font-family: 'Parisienne', cursive;
  font-family: 'Unna', serif;
  font-size: 3em;
  color: #b31f1f;
}

.book-g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.book-g figure:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.3;
}

.book-g figure:hover .buy-box {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

figure {
  border-radius: 8px;
  width: 20%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: white;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
  margin-top: 20vh;
}

#auteur {
  visibility: hidden;
  display: none;
}

img.scaled {
  width: 100%;
  height: 450px;
}

.buy-box {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
  background-color: #ffffff;
  color: black;
  border-radius: 10px;
  font-size: 20px;
}

/*================================================================================*/
/*==================================== filtrage ======================================*/
/*================================================================================*/
.filtrage {
  width: 100%;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price .prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  color: #000000;
}

.authors {
  margin-right: 10%;
  color: #000000;
  width: 10vw;
}

#btn-search {
  background-color: #830000;
  border: 2px solid #830000;
  border-radius: 50px;
  height: 36px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 10px;
}

#btn-search:hover {
  background-color: #a30404;
  color: white;
}

/*================================================================================*/
/*================================================================================*/
/*=============================== Our Books  ======================================*/
/*================================================================================*/
/*================================================================================*/
.table {
  margin-top: 15vh;
}

tr img {
  height: 23vh;
  width: 8.1vw;
}

table {
  border: 2px solid #d1d1d1;
  opacity: 80%;
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 10vh;
}

td {
  border: 2px solid #d1d1d1;
  opacity: 80%;
  color: white;
  font-size: 1.5em;
  background-color: black;
  opacity: 1;
}

th {
  border: 2px solid #d1d1d1;
  opacity: 80%;
  background-color: silver;
  height: 4vh;
}

.tab1 {
  text-align: center;
}

.fa-pencil-square-o {
  color: #ffffff;
}

.fa-trash-o {
  color: #b40909;
}

/*================================================================================*/
/*================================================================================*/
/*=============================== LOG-IN  ======================================*/
/*================================================================================*/
/*================================================================================*/
.page5 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -9px;
  margin-bottom: 10vh;
}

.topnav1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-top: 0.7em;
}

.topnav1 img {
  width: 60px;
  margin-top: -8px;
}

.topnav1 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav1 a:hover {
  color: red;
}

.topnav1 a.active {
  color: #c50404;
}

.topnav1-content {
  margin-left: auto;
  width: auto;
}

.lg-bg {
  background-color: white;
  width: 450px;
  height: 550px;
  border-radius: 3%;
  margin: 0 auto;
  margin-top: 14vh;
  position: relative;
}

.form {
  position: absolute;
}

h2 {
  text-align: center;
}

input[type=text] {
  border: none;
  border-bottom: 4px solid #830000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

input[type=password] {
  border: none;
  border-bottom: 4px solid #830000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

button {
  background-color: #920000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button:hover {
  background-color: #b80000;
  color: white;
}

.imgcontainer {
  text-align: center;
}

img.avatar {
  margin-top: 6vh;
  width: 15%;
  border-radius: 50%;
}

.container1 {
  padding: 10%;
  display: -ms-grid;
  display: grid;
}

span.psw {
  float: right;
  padding-top: 40px;
}

/*================================================================================*/
/*================================================================================*/
/*=============================== Formulaire A ======================================*/
/*================================================================================*/
/*================================================================================*/
.form-bg1 {
  background-color: white;
  width: 450px;
  height: 400px;
  border-radius: 3%;
  margin: 0 auto;
  margin-top: 14vh;
  padding: 20px;
  margin-bottom: 10vh;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=text] {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #830000;
}

select {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #830000;
}

input[type=Date] {
  width: 60%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 4px solid #830000;
}

input[type=file] {
  width: 50%;
  height: 95%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #b40909;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 36%;
  margin-bottom: 10vh;
}

input[type=submit]:hover {
  background-color: #880a0a;
}

.d3 {
  background-color: #ffffff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 10px;
  margin: 8px 0;
  width: 70%;
}

.d3 p {
  position: absolute;
  top: 45%;
  left: 28%;
}

#addpic {
  width: 100%;
  height: 100%;
}

/*================================================================================*/
/*================================================================================*/
/*=============================== Formulaire L ======================================*/
/*================================================================================*/
/*================================================================================*/
.form-bg2 {
  background-color: white;
  width: 450px;
  height: 480px;
  border-radius: 3%;
  margin: 0 auto;
  margin-top: 14vh;
  padding: 20px;
  margin-bottom: 20vh;
}

.form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=file] {
  width: 97%;
  height: 95%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 0;
}

.content {
  width: 100%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 0.4em;
}

.d2 {
  background-color: #ffffff;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 10px;
  margin: 8px 0;
  width: 70%;
}

.d2 p {
  position: absolute;
  top: 45%;
  left: 28%;
}

#addpic {
  width: 100%;
  height: 100%;
}

/*=========================================================*/
/*======================== Footer =========================*/
/*=========================================================*/
.footer-box {
  background-image: url(images/bg.jpg);
  position: relative;
  left: 0;
  margin-top: 0;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: -ms-grid;
  display: grid;
}

.media-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -25px;
  margin-bottom: 10px;
}

.media-icon a {
  margin: 10px;
}

.follow p {
  font-family: 'Teko', sans-serif;
  padding-left: 20px;
  font-size: 30px;
  float: left;
  font: bold;
  color: white;
  margin-top: 15px;
}

/*================================================================================*/
/*================================================================================*/
/*================================ Responsive ====================================*/
/*================================================================================*/
/*================================================================================*/
@media only screen and (max-width: 1300px) {
  .background {
    width: 100%;
  }
  .background p {
    font-size: 80px;
    position: absolute;
    margin-top: 40vh;
  }
  .topnav-content {
    margin-right: 40px;
  }
  .container h1 {
    color: silver;
    font-size: 60px;
  }
  .center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px;
    width: 80vw;
  }
  .avantage {
    text-align: center;
    margin-right: 2vw;
  }
  .avantage p {
    text-indent: 10px;
    font-size: 1.3em;
    color: red;
  }
  .parag p {
    text-align: center;
    width: 250px;
    color: white;
    font-size: 1em;
  }
  .av1 {
    height: 60px;
    width: 60px;
  }
  .av1 a {
    margin-top: 34%;
    margin-left: -90%;
    font-size: 37px;
  }
  /*=======================================================*/
  /*=======================================================*/
  .rec {
    width: 100%;
    text-align: center;
  }
  .rec h1 {
    font-size: 2em;
    margin-top: 10vh;
  }
  .rec h1:before {
    margin-right: 6px;
  }
  .rec h1:after {
    margin-left: 6px;
  }
  .recommended {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 99vw;
  }
  .figure1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .figure1 img {
    height: 320px;
  }
  .figure1:hover .buy-box {
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .buy-box {
    top: 50%;
    left: 50%;
    width: 50%;
    font-size: 10px;
  }
  img.scaled {
    width: 100%;
    height: 330px;
  }
}

@media only screen and (max-width: 900px) {
  /*================= nav icon =================*/
  .iconenav {
    display: block;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    height: 32px;
  }
  .iconenav img {
    height: 20px;
  }
  .topnav-content {
    display: none;
  }
  #nav {
    height: 22vh;
    color: #ffffff;
    background-image: url(images/bg.jpg);
    padding: 0px 20px;
    font-size: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  #nav a {
    color: #ffffff;
    text-decoration: none;
    display: -ms-grid;
    display: grid;
  }
  .nav-cont {
    padding: 6px;
  }
  .nav-cont a i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  /*===============================================================*/
  /*===============================================================*/
  .container h1 {
    color: silver;
    font-size: 40px;
  }
  .center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 44px;
    margin-bottom: 10vh;
  }
  .figure1 img {
    height: 220px;
  }
  /*================================================================================*/
  /*=============================== Formulaire A  ======================================*/
  /*================================================================================*/
  .form-bg1 {
    background-color: white;
    width: 361px;
    height: 375px;
  }
  .form-content {
    margin-top: -31px;
    margin-bottom: -26px;
  }
  .content {
    margin: 26px 0px;
  }
  .d3 {
    margin: 26px 0px;
    margin-right: 2px;
  }
  /*================================================================================*/
  /*=============================== Formulaire L  ======================================*/
  /*================================================================================*/
  .form-bg2 {
    width: 402px;
    height: 453px;
  }
  .d2 {
    margin: 26px 0;
    margin-right: 2px;
  }
  /*================================================================================*/
  /*=============================== gallery  ======================================*/
  /*================================================================================*/
  figure {
    font-size: 27px;
  }
  img.scaled {
    width: 100%;
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .background p {
    margin-top: 40vh;
    font-size: 4em;
  }
  .container {
    width: 100%;
  }
  .center-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 44px;
    width: 80vw;
    margin-bottom: 10vh;
    margin-top: -14vh;
  }
  .av1 {
    margin-top: 5em;
  }
  .avantage p {
    margin-left: 15px;
  }
  .figure1 {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .figure1 img {
    height: 180px;
  }
  table {
    width: 60%;
  }
  tr img {
    height: 9vh;
    width: 8.1vw;
  }
  th {
    font-size: 15px;
  }
  td {
    font-size: 13px;
  }
  /*================================================================================*/
  /*=============================== gallery  ======================================*/
  /*================================================================================*/
  figure {
    font-size: 20px;
  }
  img.scaled {
    width: 100%;
    height: 150px;
  }
  .filtrage {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .authors {
    margin-right: 10%;
    width: 110px;
    margin-left: 6%;
  }
  price .prix {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 6px;
  }
  #btn-search {
    margin-right: 3%;
  }
  /*================================================================================*/
  /*=============================== LOG-IN  ======================================*/
  /*================================================================================*/
  .page5 {
    margin-bottom: 10vh;
  }
  .lg-bg {
    background-color: white;
    width: 360px;
    height: 560px;
    border-radius: 3%;
    margin: 0 auto;
    margin-top: 14vh;
    position: relative;
  }
  .form {
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */